/**
 * global styles
 */

form {
  margin-bottom: 15px;
}

.form__row {
  margin-bottom: 15px;
}

.route.is-active {
  display: initial;
}

a.button {
  text-decoration: none;
  color: inherit;
}

/**
 * utility styles
 */

.is-hidden {
  display: none;
}

.full-width {
  width: 80%;
}

/**
 *  mdl overrides/tweaks
 */

.mdl-spinner {
  width: 60px;
  height: 60px;
}

.mdl-button--danger {
  background-color: rgb(244, 67, 54);
}

.page-content {
  min-width: 960px;
  width: 100%;
  max-width: 1440px;
  padding: 15px;
}

/**
 * custom styles
 */

.spinner-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.form__toggles,
.form__toggles label {
  display: inline-block;
}

